src/main/mule/implementation/get-members-membersId-implementation-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-members-membersId-implementation-flowFlow" doc:id="fd30cc97-2ec5-4ec5-8f99-00e92773590f" >
		<set-variable value="#[attributes.uriParams.members]" doc:name="Set Variable" doc:id="accba9af-ce35-4f05-acda-2054cdce159b" variableName="memberId"/>
		<salesforce:query doc:name="Query" doc:id="f2da0142-100b-4817-8144-ed1782643557" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select Name,firstName__c,lastName__c,maritalStatus__c,title__c,gender__c,registrationChannel__c,occupation__c,preferredName__c,password__c,email__c,phoneCountry__c,phoneNumber__c,country__c,city__c,area__c,placeOfResidence__c,province__c from member__c where Name=':memberId']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"memberId" : vars.memberId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="0e168f09-3993-4056-a911-93d510e81946" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"firstName":payload[0].firstName__c,
"lastName":payload[0].lastName__c,
"maritalStatus":payload[0].maritalStatus__c,
"title":payload[0].title__c,
"gender":payload[0].gender__c,
"occupation":payload[0].occupation__c,
"registrationChannel":payload[0].registrationChannel__c,
"preferredName":payload[0].preferredName__c,
 "identity":
 {
  "password":payload[0].password__c,
  "phoneCountry":payload[0].phoneCountry__c,
  "phoneNumber": payload[0].phoneNumber__c,
  "email": payload[0].email__c
},
"address":
{
"area":payload[0].area__c,
"city":payload[0].city__c,
"country":payload[0].country__c,
"province":payload[0].province__c,
"placeOfResidence":payload[0].placeOfResidence__c
}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
