src/main/mule/implementation/post-members-sync-implementation-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="post-members-sync-implementation-flowFlow" doc:id="2945c2bb-cbfb-41a9-9584-4fbf0f394472" >
		<db:insert doc:name="Insert" doc:id="f12a9885-4bfe-4944-9fab-1e58d0013ed1" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO CR6kH2PVbs.`MEMBER`
(`firstName`,
 `lastName`,
 `maritalStatus`,
 `title`,
 `gender`,
 `occupution`,
 `preferredName`,
 `password`,
 `phoneCountry`,
 `phoneNumber`,
 `email`,
 `country`,
 `city`,
 `area`,
 `province`,
 `placeOfResidence`	   
)
 VALUES
 (:firstName,:lastName,:maritalStatus,:title,:gender,:occupution,:preferredName,:password,:phoneCountry,:phoneNumber,:email,:country,:city,:area,:province,:placeOfResidence)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{  
	firstName:payload.firstName,
	lastName:payload.lastName,
	maritalStatus:payload.maritalStatus,
	title:payload.title,
	gender:payload.gender,
	occupution:payload.occupution,
	preferredName:payload.preferredName,
	password:payload.identity.password,
	phoneCountry:payload.identity.phoneCountry,
	phoneNumber:payload.identity.phoneNumber,
	email:payload.identity.email,
    country:payload.address.country,
    city:payload.address.city,
	area:payload.address.area,
	province:payload.address.province,
	placeOfResidence:payload.address.placeOfResidence
	}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="d7e6170a-ce4a-4ca6-9620-ae4036e9260f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  msg: "successful operation",
  code: 200,
  data: {
    memberId: "successfully inserted in to database"
  },
  success: "true"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="process_Error_Handler" />
	</flow>
</mule>
