src/main/mule/implementation/post-members-implementation-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="post-members-implementation-flowFlow" doc:id="b6af9917-e6ca-4c35-8244-0b2acd61111e" >
		<ee:transform doc:name="Transform Message" doc:id="91abce6c-0a6d-4cd9-9183-b460348d0012" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
firstName__c:payload.firstName,
lastName__c:payload.lastName,
maritalStatus__c:payload.maritalStatus,
title__c:payload.title,
gender__c:payload.gender,
occupation__c:payload.occupation,
registrationChannel__c:payload.registrationChannel,
preferredName__c:payload.preferredName,
password__c:payload.identity.password,
phoneCountry__c:payload.identity.phoneCountry,
phoneNumber__c:payload.identity.phoneNumber,
email__c:payload.identity.email,
area__c:payload.address.area,
city__c:payload.address.city,
country__c:payload.address.country,
province__c:payload.address.province,
placeOfResidence__c:payload.address.placeOfResidence
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="member__c" doc:name="Create" doc:id="32a45d3f-6bb9-4d3a-a7df-62c202d0eecc" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="f2b6f36b-4503-4186-b438-f45f73a69fba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  msg: "successful operation",
  code: 200,
  data: {
    memberId: payload.items[0].id
  },
  success: "true"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="process_Error_Handler" />
	</flow>
</mule>
